.EV_ODD_DIV_FRM{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.EV_ODD_DIV_FRM_FORM{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DIV_FRM_OD_EV{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10px;
}
.ODD_EV_IP{
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
}
.ODD_EV_P{
    font-size: 14px;
    font-weight: 600;
}
.ODD_EV_BTN{
    width: 80px;
    height: 40px;
    margin: 10px;
    border: none;
    outline: none;
    background: none;
    color: white;
    background-color: rgb(6, 52, 74);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.EV_LIST{
    border: 2px solid black;
    width: 20vh;
    overflow: scroll;
    height: 40vh;
}
.EV_LIST::-webkit-scrollbar{display: none;}
.EV_LIST_P{
    text-align: center;
    text-wrap: wrap;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 600;
}